.main {
    width: 65px;
    height: 34px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--color-20);
    overflow: hidden;
    margin-top: 13px;
}

.mask {
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: 1;
    background-color: var(--color-80);
    border: 1px solid var(--color-80);
    border-radius: 15px;
    transition: width 0.2s ease;
}

.mask.active {
    width: 100%;
}

.dot {
    position: absolute;
    width: 34px;
    height: 34px;
    border: 1px solid var(--color-0);
    border-radius: 50%;
    background-color: var(--color-80);
    transition: all 0.1s ease;
    z-index: 10;
}

.dot.active {
    left: 32px;
    border: 1px solid var(--color-20);
    background-color: var(--color-20);
}

.main.active {
    background-color: var(--color-0);
}

/* Media query per tablet */
@media (max-width: 768px) {
    .main {
        width: 56px; /* Riduci la larghezza mantenendo le proporzioni */
        height: 30px; /* Riduci l'altezza mantenendo le proporzioni */
        margin-top: 15px;
        margin-right: 10px;
    }

    .mask {
        border-radius: 14px;
    }

    .dot {
        width: 25px; /* Proporziona il diametro del cerchio */
        height: 25px;
    }

    .dot.active {
        left: 25px; /* Adatta la posizione del punto */
    }
}

/* Media query per smartphone */
@media (max-width: 480px) {
    .main {
        width: 70px; 
        height: 30px; 
        margin-top: 10px;
        margin-left: 10px ;
    }

    .mask {
        border-radius: 24px;
    }

    .dot {
        width: 30px; /* Riduci il diametro del punto */
        height: 30px;
    }

    .dot.active {
        left: 40px; /* Adatta la posizione del punto quando attivo */
    }

    .field {
        margin-bottom: 15px;
        width: 100%;
    }
}
