.main {
    width: 64px;
    height: 35px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--color-20);
    overflow: hidden;
    margin-top: 13px;

    .mask {
        position: absolute;
        width: 0%;
        height: 100%;
        z-index: 1;
        background-color: var(--color-80);
        border: 1px solid var(--color-80);

        border-radius: 15px;

        &.active{
            width: 100%;
        }
    }

    .dot {
        position: absolute;
        width: 33px;
        height: 33px;
        border: 1px solid var(--color-0);
        border-radius: 50%;
        left: 2px;
        background-color: var(--color-0);
        transition: all 0.2s ease;
        z-index: 10;

        &.active {
            left: 30px;
            border: 1px solid var(--color-20);
            background-color: var(--color-20);
        }
    }

    &.active {
        background-color: var(--color-0);
    }
}



/* Media query per smartphone */
@media (max-width: 480px) {
    .main {
        width: 48px; 
        height: 28px; 
        margin-top: 10px; 
    }

    .mask {
        border-radius: 14px; 
    }

    .dot {
        width: 14px; 
        height: 14px; 
        left: 2px; 

    }

    .dot.active {
        left: 22px; /* Riduci la distanza del punto quando attivo */
    }

    .field {
        margin-bottom: 15px;
        width: 100%; 
    }
}

/* Media query per smartphone */
@media (max-width: 480px) {
    .field {
      margin-bottom: 15px;
      width: 100%; 
    }
    }