.main {
  background-color: var(--color-80);
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.field {
  flex: 1;
  display: flex;
  justify-content: center;
}

.customButton {
  padding: 10px 15px;
  background-color: var(--color-20);
  color: var(--color-0);
  border: none;
  cursor: pointer;
  transition: all 0.35s ease;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.customButton:hover {
  background-color: var(--color-80);
}

.customButton:disabled {
  opacity: 0.5;
}

.result {
  padding: 20px;
  font-size: 16px;
  box-shadow: none;
  text-align: left;
  width: 100%;
  line-height: 1.8;
  hyphens: auto; /* Abilita la sillabazione */
  word-break: break-word; /* Gestisci le parole lunghe */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 8px solid var(--color-80);/* Colore di sfondo della circonferenza */
  border-radius: 50%;
  border-top: 8px solid var(--color-20); /* Colore della parte animata */
  width: 50px; /* Dimensione del cerchio */
  height: 50px; /* Dimensione del cerchio */
  animation: spin 1s linear infinite;
}

.analysis {
  padding: 20px;
  padding-top: 35px;
  box-shadow: none;
  text-align: left;
  font-size: 14px;
  width: 100%;
  line-height: 1.8;
}

.analysis ul {
  list-style-type: none; /* Rimuove i punti elenco */
  padding: 0; /* Rimuove il padding predefinito */
}

.analysis li {
  margin-bottom: 15px; /* Spazio tra le domande e risposte */
}

.analysis li::before {
  font-weight: bold;
}

.analysis li:nth-child(even)::before {
  font-weight: normal;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Media query per tablet */
@media (max-width: 768px) {
  .main {
    background-color: var(--color-80);
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .content {
    padding: 20px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .field {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .customButton {
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    transition: all 0.35s ease;
    border-radius: 12px;
    margin-top: 20px;
  }
  
  .result {
    padding: 30px;
    font-size: 16px;
    box-shadow: none;
    text-align: left;
    width: 100%;
    line-height: 1.8;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .loader {
    border: 8px solid var(--color-80); /* Colore di sfondo della circonferenza */
    border-radius: 50%;
    border-top: 8px solid var(--color-20); /* Colore della parte animata */
    width: 50px; /* Dimensione del cerchio */
    height: 50px; /* Dimensione del cerchio */
    animation: spin 1s linear infinite;
    margin-bottom: -25px;
  }

  .analysis {
    padding: 30px;
  }
}

/* Media query per smartphone */
@media (max-width: 480px) {
  .main {
    min-height: auto; 
  }

  .content {
    padding: 10px 0; 
  }

  .container {
    gap: 10px;
    margin-top: 30px;
  }

  .row {
    flex-direction: column; 
  }

  .field {
    margin-bottom: 15px;
    width: 100%; 
  }

  .result {
    margin-top: 20px; 
  }

  .loading {
    height: 80px; 
  }

  .customButton {
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.35s ease;
    border-radius: 12px;
    margin-top: 20px;
  }
  
  .result {
    padding: 20px;
    font-size: 16px;
    box-shadow: none;
    text-align: left;
    width: 100%;
    line-height: 1.8;
  }

  .analysis {
    padding: 20px;
  }

  .loader {
    border-radius: 50%;
    border-top: 8px solid var(--color-20); /* Colore della parte animata */
    width: 50px; /* Dimensione del cerchio */
    height: 50px; /* Dimensione del cerchio */
    animation: spin 1s linear infinite;
    margin-bottom: -25px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
