.main {
    padding: 5px 10px;
    background-color: var(--color-20);
    color: var(--color-0);
    border: none;
    cursor: pointer;
    transition: all 0.35s ease;
    margin-top: 40px;
    border-radius: 15px;
    margin-top: 40px;

    &:hover{
        background-color: var(--color-80);
    }

    &:disabled {
        opacity: 0.5;
    }
}