.main {
    h3 {
        margin-bottom: rem(5px, 16px); 
        margin-top: 10px;
        font-size: 1rem; 
        width: 100%;
    }
    input {
        padding: rem(5px, 16px) rem(10px, 16px); 
        border: rem(1px, 16px) solid var(--color-100);
        margin-top: 8px;
        height: 35px;
        width: 160px;
        border-radius: 15px;
    }
}
